
.chart-menu p {
  padding: 10px;
  font-size: 20px;
}

.chart-card {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-box {
  width: 1500px;
  padding: 45px;
  border-radius: 20px;
  border: solid 3px #4bc0c0;
  background: #fff;
}

.chart-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
}

.btn {
  border: 1px solid #637bff;
  background: #e0e8ff;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
}
